html {
	height: 100%;
}

body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: #ffffff;
	border: 0;
	margin: 0;
	height: 100%;
	font-family: rig-solid-bold-halftone, serif;
	font-weight: 700;
}

h1 {
    font-size: 85px;
    margin: 0;
    padding: 10px;
    text-align: center;
}

h3 {
    font-size: 34px;
    margin: 0;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 75px;
    }
    h3 {
        font-size: 28px;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 65px;
    }
    h3 {
        font-size: 24px;
    }
    body {
        background-image: url('images/background-mobile.jpg');
    }
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
button {
    border: 1px solid #000000;
    color: #000000;
    background:rgba(255,255,255, 0.6);
    height: 60px;
    width: 200px;
    border-radius: 30px;
    font-family: rig-solid-bold-halftone, serif;
	font-weight: 700;
    font-size: 22px;
    margin: 20px;
    font-weight: 600;
    cursor: pointer;
}

button:active {
    background-color: #ffffff;
    color:#a32b29
}

@media only screen and (max-width: 780px) {
    #button-container {
        display: flex;
        flex-direction: column;
    }
}

img {
    max-width:300px;
    border-radius: 10px;
    margin: 20px;
}